<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.manage.mapper.ItemMapper">
	<!-- 查询商品总数 -->
	<select id="findCount" resultType="int">
		select count(*) from tb_item
	</select>
	
	<!-- 分页查询商品信息 
		# - $  区别
		#号 有预编译效果，防止sql注入，会为参数添加 “ ” ；
		$号  只有以字段名称为参数时 使用   select * from tb_item where cid >200
	-->
	<select id="findItemByPage" resultType="Item">
		select * from tb_item order by created desc limit ${start},${rows} 
	</select>
	
	<!--更新商品状态
		collection="ids" 参数分析-
		参数是数组
		参数是List集合
		参数Map
	 -->
	<update id="updateStatus">
		update tb_item set status=#{status},updated=now() 
		where id in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>)
	</update>
</mapper>